<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fbook－图书分类</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
   
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">


    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="icon" type="image/png" href="assets/i/app-icon72x72@2x.png">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Fbook-闲书交换">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">


    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">





  <link rel="stylesheet" href="assets/css/amazeui.min.css">
<!--   <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.3.0/css/amazeui.min.css"> -->

  <link rel="stylesheet" href="assets/css/amazeui.widgets.min.css">
<!--   <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/1.0.1/css/amazeui.widgets.min.css"> -->

  <link rel="stylesheet" href="assets/css/app.css">





</head>
<body>

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <h1 class="am-header-title">
    <a href="#title-link">My Fbook</a>
  </h1>

  <nav class="am-header-left am-header-nav">
    <a href="#barcode" class="am-header-icon am-icon-plus am-icon-sm"></a>
  </nav><!-- 添加书籍 -->

  <nav class="am-header-right am-header-nav" >
    <a href="#share" class="am-header-icon am-icon-bell"></a>
  </nav><!-- 消息 -->

</header>


<!-- 个人资料 -->


<div class="am-g am-g-fixed">
  <div class="am-u-sm-3">
  <img class="am-circle am-img-thumbnail " src="assets/i/jiaocai.png">
  </div>

  <div class="am-u-sm-8">
  <p>一个大金果</p>
  <small>个人说明：。。。。。。</small>
  </div>

  <!-- <div class="am-u-sm-8 am-vertical-align" style="height: auto;">
    <div class="am-vertical-align-middle">

          <div class="am-list-item-text cc-border">
              <ul class="am-list-main">
                <li>一个大金果</li>
                <li>出版社：南海出版公司</li>
              </ul>
            </div>
    </div>
  </div> -->
<br/>


<!-- 分割线 -->
<!-- <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/> -->




<ul class="am-nav am-nav-tabs am-nav-justify">
  <li class="am-active"><a href="#" >书单</a></li>
  <li><a href="#">喜欢</a></li>
  <li ><a href="#">发布</a></li>
  <li><a href="#">关注</a></li>
</ul>
























<!-- Footer -->

<div id="am-footer-mode" class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-modal-footer-hd">
      <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin"
         data-am-modal-close>&times;</a>
    </div>
    
  </div>
</div>


<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf sm-block-grid-4">

    <li>
      <a href="index.html">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">Fbook</span>
      </a>
    </li>


    <li>
      <a href="fenlei.html">
        <span class="am-icon-reorder"></span>
        <span class="am-navbar-label">找书</span>
      </a>
    </li>

    
    <li>
      <a href="my.html">
        <span class="am-icon-user"></span>
        <span class="am-navbar-label">我</span>
      </a>
    </li>
  </ul>
</div>

<script src="assets/js/zepto.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>

</body>
</html>
